<!-- 账户审核失败 -->
<html>
    <head>您好，{{ client }}<br></head>
    <body>
        <p>
            非常感谢您使用江行物联网平台。<br>
            您的账号审核失败，原因如下：<br>
            {{ reason }} <br>
            您可登录账户进行信息修改，并再次提交审核。<br>
            <button style="background-color: rgb(43, 174, 226)"><a href="{{ verify_link }}">登录平台</a></button><br><br>
            您也可以复制以下链接到浏览器中打开：<a href="{{ verify_link }}">{{ verify_link }}</a><br><br>
            祝您使用愉快！
        </p>
        <p>
            联系电话：+86 0755-86715502<br>
            商务邮箱：business@jiangxing.ai<br>
            官方网站：<a href="https://www.jiangxingai.com">www.jiangxingai.com</a>
        </p>
    </body>
</html>
