<!-- 应用审核成功 -->
<html>
    <head>您好: {{ client }}<br></head>
    <body>
        <p>
            您创建的应用{{ application_name }}，版本号{{ application_version }}审核成功。您可以登录账户查看该应用。<br>
            <button style="background-color: rgb(43, 174, 226)"><a href="{{ verify_link }}">登录系统</a></button><br><br>
            您也可以复制以下链接到浏览器中打开：<a href="{{ verify_link }}">{{ verify_link }}</a><br><br>
            xxxx全体员工将竭诚为您提供最便捷的服务。
        </p>
        <p>
            联系电话：xxxxxxx<br>
            商务邮箱：xxxxxxxxxxx<br>
            官方网站：<a href="https://www.xxxxxxx.com">www.xxxxxx.com</a>
        </p>
    </body>
</html>
