<!-- 转交管理员通知 -->
<html>
    <head>您好，{{ client }}<br></head>
    <body>
        <p>
            {{ company }}的管理员已将您设置为江行边缘物联平台的管理员，您已经拥有管理员的全部权限。<br>
            <button style="background-color: rgb(43, 174, 226)"><a href="{{ verify_link }}">登录平台</a></button><br><br>
            您也可以复制以下链接到浏览器中打开：<a href="{{ verify_link }}">{{ verify_link }}</a><br><br>
        </p>
        <p>
            联系电话：+86 0755-86715502<br>
            商务邮箱：business@jiangxing.ai<br>
            官方网站：<a href="https://www.jiangxingai.com">www.jiangxingai.com</a>
        </p>
    </body>
</html>
