<!-- 密码重置 -->
<html>
    <head>您好: {{ client }}<br></head>
    <body>
        <p>
            您在{{ reset_time }}使用了您的邮箱{{ email_address }}重置了您的账号密码。
            请您点击下方的“重置密码”按钮完成重置操作。<br>
            <button style="background-color: rgb(43, 174, 226)"><a href="{{ verify_link }}">重置密码</a></button><br><br>
            您也可以复制以下链接到浏览器中打开：<a href="{{ verify_link }}">{{ verify_link }}</a><br><br>
            xxx全体员工将竭诚为您提供最便捷的服务。
        </p>
        <p>
            联系电话：xxxxxxxx<br>
            商务邮箱：xxxxxxxxx<br>
            官方网站：<a href="https://www.xxxx.com">www.xxxxxx.com</a>
        </p>
    </body>
</html>
