<!-- 子账户验证 -->
<html>
    <head>您好: {{ company }}<br></head>
    <body>
        <p>
            xxxx团队诚邀您加入xxx边缘物联平台，请点击以下“验证邮箱”按钮完成验证。
            如果您误收到此邮件，请忽略该邮件，很抱歉打扰您。<br>
            <button style="background-color: rgb(43, 174, 226)"><a href="{{ verify_link }}">验证邮箱</a></button><br><br>
            您也可以复制以下链接到浏览器中打开：<a href="{{ verify_link }}">{{ verify_link }}</a><br><br>
            xxxx全体员工将竭诚为您提供最便捷的服务。
        </p>
        <p>
            联系电话：xxxxxx<br>
            商务邮箱：xxxxxxxxx<br>
            官方网站：<a href="https://www.xxxxxxxxx.com">www.xxxxxxxxx.com</a>
        </p>
    </body>
</html>
